.main {
  position: relative;
}

.main__background {
  position: absolute;
  width: 100%;
  height: 600px;
  display: block;
  background-color: $color-light-blue;
  z-index: -1;
}

.announce__main {
  padding: 80px 0;
}

.left-aside {
  height: 642px;
  width: 394px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 36px 46px 56px 30px;
  border-radius: 5px;
  background-color: #526eff;
  margin-right: 20px;
}

@include breakpoint-down(1200px) {
  .main__container {
  margin: 0 auto;
//  padding:0 29px;
  }

  .left-aside {
    height: 620px;
    width: 100%;
    margin-bottom: 30px;
  }
}

@include breakpoint-down(900px) {
  .main__container {
    flex-direction: column;
  }

  .left-aside {
    height: 450px;
    width: 100%;
    margin-bottom: 30px;
  }
}

@include breakpoint-down(744px) {
  .main__container {
    flex-direction: column;
  }

  .left-aside {
    width: 683px;
    margin-bottom: 30px;
  }
}

@include breakpoint-down(520px) {
  .left-aside {
    width: 100%;
    height: 620px;
  }
}

@include breakpoint-down(375px) {
  .main__container {
    flex-direction: column;
    padding:0 7px;
  }

  .left-aside {
    height: 625px;
    width: 346px;
    margin-bottom:0 0 30px 0;
    padding: 20px;
    margin-right: 0;
  }
}
