.main {
  padding: 80px 0;
  position: relative;
}

.left-aside {
  max-height: 640px;
  display: flex;
  flex-direction: column;
  padding: 35px 35px 0 35px;
  border-radius: 5px;
  border: 1px solid #526eff;
  background: #526eff;
}
